<div class="scoreview-top">
  <div class="scoreview-top-grid-left">
    <!-- TEAM A -->
    <div class="single_data_content"><p class="more_padding">{{ abc?.overview.terrorists_team }}</p></div>
    <!-- team K/D/M EQUIPMENT + CASH -->
    <div class="single_data_content"><p>team K/D/M EQUIPMENT + CASH</p></div>
    <!-- MOST EXPENSIVE WEAPON / ICON -->
    <div class="single_data_content"><p>MOST EXPENSIVE WEAPON / ICON</p></div>
    <!-- TEAM AVG DMG /ROUND -->
    <div class="single_data_content"><p>TEAM AVG DMG /ROUND</p></div>

    <div class="scoreview-top-players">
      <ul>
        <li>
          <div><a>player 1</a></div>
          <div>
            <div class="w3-light-grey">
              <div class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
        <li>
          <div><a>player 2</a></div>
          <div>
            <div class="w3-light-grey">
              <div class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
        <li>
          <div><a>player 3</a></div>
          <div>
            <div class="w3-light-grey">
              <div class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
        <li>
          <div><a>player 4</a></div>
          <div>
            <div class="w3-light-grey">
              <div class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
        <li>
          <div><a>player 5</a></div>
          <div>
            <div class="w3-light-grey">
              <div class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
      </ul>


    </div>

  </div>
  <div class="scoreview-top-grid-center">
    <!-- GAME TYPE -->
    <div class="single_data_content"><p class="more_padding">GAME TYPE</p></div>
    <!-- Map name -->
    <div class="single_data_content"><p class="more_padding">{{ abc?.overview.map_name | json }}</p></div>
    <div class="single_data_content"><p class="more_padding">12</p>
      <p class="more_padding">3</p></div>
    <!-- BOMB STATUSBAR -->
    <div class="single_data_content"><p>{{ abc?.overview.bomb_status | json }}</p></div>
  </div>
  <div class="scoreview-top-grid-right">
    <!-- TEAM B -->
    <div class="single_data_content"><p class="more_padding">{{ abc?.overview.counter_terrorists_team | json }}</p>
    </div>
    <!-- team K/D/M EQUIPMENT + CASH -->
    <div class="single_data_content"><p>team K/D/M EQUIPMENT + CASH</p></div>
    <!-- MOST EXPENSIVE WEAPON / ICON -->
    <div class="single_data_content"><p>MOST EXPENSIVE WEAPON / ICON</p></div>
    <!-- TEAM AVG DMG /ROUND -->
    <div class="single_data_content"><p>TEAM AVG DMG /ROUND</p></div>
    <div class="scoreview-top-players">
      <ul>
        <li>
          <div><a>player 1</a></div>
          <div>
            <div class="w3-light-grey">
              <div id="myBar" class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
        <li>
          <div><a>player 2</a></div>
          <div>
            <div class="w3-light-grey">
              <div class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
        <li>
          <div><a>player 3</a></div>
          <div>
            <div class="w3-light-grey">
              <div class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
        <li>
          <div><a>player 4</a></div>
          <div>
            <div class="w3-light-grey">
              <div class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
        <li>
          <div><a>player 5</a></div>
          <div>
            <div class="w3-light-grey">
              <div class="w3-container w3-green" style="height:24px;width:50%"></div>
            </div>
          </div>
          <div><a>/K/D/S/ADR/ WEAPON</a></div>
        </li>
      </ul>


    </div>
  </div>
</div>
